{% extends "layout.html" %}

{% block title %}
    World Map of Travel Advisories
{% endblock %}

{% block main %}

    <h1>Interactive Map of World Travel Advisories</h1>
    <br>
    <p>This interactive map uses a color scale to indicate the amount of risk associated with traveling to a certain country. You can select an individual country by clicking on it or selecting it from the given menu. Selecting a country will bring you to a page of travel-related information and advisories for that country, including visa requirements, health and safety concerns, and climate information.</p>

    <a href="/country">Country-specific Travel Advisories</a>
    <br>
    <a href="/test">Map Test Page</a>

{% endblock %}