<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/cs50-project/static/css/d3.geomap.css" rel="stylesheet">
        <script src="/cs50-project/static/js/d3.geomap.dependencies.min.js"></script>
        <script src="/cs50-project/static/js/d3.geomap.min.js"></script>
    </head>
    <body>
        <div id="map"></div>
    </body>

    <script>
    
    var map = d3.geomap()
        .geofile('/cs50-project/static/topojson/world/countries.json')
        .draw(d3.select('#map'));
    
    </script>

</html>